<!--
File   : About.cshtml
Author : Jinal Patel(200299533)
Description:  This is about page. -->



@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
