<!--
File   : Details.cshtml(Artists)
Author : Jinal Patel(200299533)
Date Modified : 18th Aug, 2016
Version : 1.0.2
Description:  This is Artists Details frontend page. -->


@model finalExam.Models.Artist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Artist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>
